body {
  font-family: "Open Sans", sans-serif;
  background-color: #999999;
  position:  relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  background-color: #e0e0e0;
  height: 120px;
  width: 100%;
  box-shadow: 0px 5px 13px 2px #00a6e5;
  display: flex;
  align-content: center;
  justify-content: center;
}

header a {
  font-family: "Open Sans", sans-serif;
}

.img {
  padding: 10px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.left {
  margin-right: 20px;
}

.right {
  margin-left: 20px;
}

.window {
  height: calc(100% - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0;
  position: absolute;
  bottom: 0;
}

.selector {
  height: calc(100% - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 40px;
}

.selector_2 {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.selector_small {
  width: 50%;
}

/* #motor {
  position: absolute;
  right: 0;
} */

.selector_small:active {
  transform: scale(1.1);
  cursor: pointer;
}

.window.manuell {
  justify-content: stretch;
}

#window_manu {
  margin-bottom: 40px;
}

.button {
  color: #00a6e5;
  font-size: clamp(16px, 6vw, 40px);
  text-align: center;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 50px;
  margin: 20px;
}

.button.manu {
  border-radius: 10px;
  background-color: #00a6e5;
  color: black;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.15);
}

.button:active {
  transform: scale(1.05);
  cursor: pointer;
}

#sep {
  border-top: 2px solid #00a6e5;
  border-radius: 1px;
  width: 80%;
}

.button_header {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  transition: width 5s ease-in-out 0.1s, border 3.0s, transform 0.3s;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.button_header:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.button_header:active {
  transform: scale(1);
  cursor: pointer;
}

.button_header.home {
  transform: none;
  scale: 0.5;
  cursor: default;
}

#drop_zone {
  border: 5px solid blue;
  width: 50%;
  height: 50%;
}

#wrapper {
  width: 75%;
  height: 50%;
  margin:0 auto;
}

#upload {
  display: block;
  max-width: 100px;
  max-height:100px;
  width: auto;
  height: auto;
}

#fileDropBox {
  height: 100%;
  outline: 5px dashed #00a6e5;
  align-items: center;
  color: rgb(243, 240, 240);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: large;
  transition: all 0.3s;
  background-color: #6b6b6b;
  margin: 0;
  padding: 0;
}

#fileDropBox:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 10px #00a6e5;
}

/* .manu:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 35px 10px #06263b;
  /* box-shadow: 0px 0px 20px 10px #00a6e5; */
/* }  */

.comp_selector {
  width: 75%;
  height: 55%;
  position: absolute;
  background-color: #06263b;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hidden {
  height: 0px;
  width: 0px;
}

header a:link { text-decoration: none; }
header a:visited { text-decoration: none; }
header a:hover { text-decoration: none; }
header a:active { text-decoration: none; }

body a:link { text-decoration: none; }
body a:visited { text-decoration: none; }
body a:hover { text-decoration: none; }
body a:active { text-decoration: none; }

h2 {
  color: white;
  margin-top: 35px;
}

#start {
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 30px;
  padding: 10px;
  opacity: 0.3;
}

/* #buttons

.button_row {
  height: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #00a6e5;
  border: none;
  height: 100px;
  width: 25%;
  margin: 5px;
  border-radius: 2vh;
}

header {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.button_header.hidden {
  height: 0px;
  width: 0px;
  border: 0px;
  box-shadow: 0px 0px 0px 0px #e0e0e0;
  padding: 0px;
}



/* img:hover {
  transform: scale(1.15);
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 100%))
}
.img:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 100%));
  transform: scale(1)
} */